<div class="container">
  <h2>{{ title }}</h2>

  <!-- Define Nav Bar -->
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/enrollees">Enrollees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/active">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/inactive">Inactive</a>
    </li>
  </ul>
  <router-outlet></router-outlet>


  
</div>
